ch1/dup1/dup
ch1/dup2/dup
ch1/dup3/dup
ch1/echo1/echo
ch1/echo2/echo
ch1/echo3/echo
ch1/ex1-1/ex1-1
ch1/ex1-2/ex1-2
ch1/ex1-4/ex1-4
ch1/ex1-5/ex1-5
ch1/ex1-6/ex1-6
ch1/ex1-7/ex1-7
ch1/ex1-8/ex1-8
ch1/ex1-9/ex1-9
ch1/ex1-12/ex1-12
ch1/fetch/fetch
ch1/fetchall/fetchall
ch1/helloworld/helloworld
ch1/lissajous/lissajous
ch1/server1/server
ch1/server2/server
ch1/server3/server
ch2/boiling/boiling
ch2/echo4/echo
ch2/ftoc/ftoc
ch2/cf/cf
ch2/ex2-1/cfk
ch2/ex2-2/cfkmftkglb
ch3/surface/surface
ch3/ex3-1/ex3-1
ch3/ex3-2/ex3-2
ch3/ex3-3/ex3-3
ch3/ex3-4/ex3-4
ch3/mandelbrot/mandelbrot
ch3/ex3-5/ex3-5
ch3/ex3-6/ex3-6
ch3/ex3-7/ex3-7
ch3/basename1/basename
ch3/basename2/basename
ch3/comma/comma
ch3/printints/printints
ch3/ex3-10/comma
ch3/ex3-11/comma
ch3/ex3-12/anagrams
ch4/ex4-2/ex4-2
ch4/rev/rev
ch4/append/append
ch4/nonempty/nonempty
ch4/freq/freq
ch4/issues/issues
ch4/ex4-9/freq
ch4/ex4-10/issues
ch4/ex4-11/issues
ch4/ex4-12/xkcd
ch4/ex4-12/comics/**
ch4/autoescape/autoescape
ch4/issuereport/issuereport
ch4/issueshtml/issueshtml
ch4/ex4-14/ex4-14
ch5/findlinks1/findlinks
ch5/outline/outline
ch5/ex5-1/findlinks
ch5/ex5-2/findNames
ch5/ex5-3/printtext
ch5/ex5-4/findlinks
ch5/ex5-5/count
ch5/ex5-6/surface
ch5/outline2/outline
ch5/ex5-7/outline
ch5/ex5-8/outline
ch5/ex5-9/expand
ch5/findlinks3/findlinks
ch5/ex5-12/outline
ch5/ex5-13/findlinks
ch5/ex5-17/outline
ch5/title1/title
ch5/title2/title
ch5/trace/trace
ch5/fetch/fetch
ch5/ex5-18/fetch
ch5/title3/title
