kernighan_and_donovan/ch1/dup1/dup
kernighan_and_donovan/ch1/dup2/dup
kernighan_and_donovan/ch1/dup3/dup
kernighan_and_donovan/ch1/echo1/echo
kernighan_and_donovan/ch1/echo2/echo
kernighan_and_donovan/ch1/echo3/echo
kernighan_and_donovan/ch1/ex1-1/ex1-1
kernighan_and_donovan/ch1/ex1-2/ex1-2
kernighan_and_donovan/ch1/ex1-4/ex1-4
kernighan_and_donovan/ch1/ex1-5/ex1-5
kernighan_and_donovan/ch1/ex1-6/ex1-6
kernighan_and_donovan/ch1/ex1-7/ex1-7
kernighan_and_donovan/ch1/ex1-8/ex1-8
kernighan_and_donovan/ch1/ex1-9/ex1-9
kernighan_and_donovan/ch1/ex1-12/ex1-12
kernighan_and_donovan/ch1/fetch/fetch
kernighan_and_donovan/ch1/fetchall/fetchall
kernighan_and_donovan/ch1/helloworld/helloworld
kernighan_and_donovan/ch1/lissajous/lissajous
kernighan_and_donovan/ch1/server1/server
kernighan_and_donovan/ch1/server2/server
kernighan_and_donovan/ch1/server3/server
kernighan_and_donovan/ch2/boiling/boiling
kernighan_and_donovan/ch2/echo4/echo
kernighan_and_donovan/ch2/ftoc/ftoc
kernighan_and_donovan/ch2/cf/cf
kernighan_and_donovan/ch2/ex2-1/cfk
kernighan_and_donovan/ch2/ex2-2/cfkmftkglb
kernighan_and_donovan/ch3/surface/surface
kernighan_and_donovan/ch3/ex3-1/ex3-1
kernighan_and_donovan/ch3/ex3-2/ex3-2
kernighan_and_donovan/ch3/ex3-3/ex3-3
kernighan_and_donovan/ch3/ex3-4/ex3-4
kernighan_and_donovan/ch3/mandelbrot/mandelbrot
kernighan_and_donovan/ch3/ex3-5/ex3-5
kernighan_and_donovan/ch3/ex3-6/ex3-6
kernighan_and_donovan/ch3/ex3-7/ex3-7
kernighan_and_donovan/ch3/basename1/basename
kernighan_and_donovan/ch3/basename2/basename
kernighan_and_donovan/ch3/comma/comma
kernighan_and_donovan/ch3/printints/printints
kernighan_and_donovan/ch3/ex3-10/comma
kernighan_and_donovan/ch3/ex3-11/comma
kernighan_and_donovan/ch3/ex3-12/anagrams
kernighan_and_donovan/ch4/ex4-2/ex4-2
kernighan_and_donovan/ch4/rev/rev
kernighan_and_donovan/ch4/append/append
kernighan_and_donovan/ch4/nonempty/nonempty
kernighan_and_donovan/ch4/freq/freq
kernighan_and_donovan/ch4/issues/issues
kernighan_and_donovan/ch4/ex4-9/freq
kernighan_and_donovan/ch4/ex4-10/issues
kernighan_and_donovan/ch4/ex4-11/issues
kernighan_and_donovan/ch4/ex4-12/xkcd
kernighan_and_donovan/ch4/ex4-12/comics/**
kernighan_and_donovan/ch4/autoescape/autoescape
kernighan_and_donovan/ch4/issuereport/issuereport
kernighan_and_donovan/ch4/issueshtml/issueshtml
kernighan_and_donovan/ch4/ex4-14/ex4-14
kernighan_and_donovan/ch5/findlinks1/findlinks
kernighan_and_donovan/ch5/outline/outline
kernighan_and_donovan/ch5/ex5-1/findlinks
kernighan_and_donovan/ch5/ex5-2/findNames
kernighan_and_donovan/ch5/ex5-3/printtext
kernighan_and_donovan/ch5/ex5-4/findlinks
kernighan_and_donovan/ch5/ex5-5/count
kernighan_and_donovan/ch5/ex5-6/surface
kernighan_and_donovan/ch5/outline2/outline
kernighan_and_donovan/ch5/ex5-7/outline
kernighan_and_donovan/ch5/ex5-8/outline
kernighan_and_donovan/ch5/ex5-9/expand
kernighan_and_donovan/ch5/findlinks3/findlinks
kernighan_and_donovan/ch5/ex5-12/outline
kernighan_and_donovan/ch5/ex5-13/findlinks
kernighan_and_donovan/ch5/ex5-17/outline
kernighan_and_donovan/ch5/title1/title
kernighan_and_donovan/ch5/title2/title
kernighan_and_donovan/ch5/trace/trace
kernighan_and_donovan/ch5/fetch/fetch
kernighan_and_donovan/ch5/ex5-18/fetch
kernighan_and_donovan/ch5/title3/title
kernighan_and_donovan/ch6/ex6-1/intset
kernighan_and_donovan/ch7/sleep/sleep
kernighan_and_donovan/ch7/xmlselect/xmlselect
kernighan_and_donovan/ch7/ex7-17/xmlselect
kernighan_and_donovan/ch7/tempflag/tempflag
kernighan_and_donovan/ch8/ex8-1/clock
kernighan_and_donovan/ch8/ex8-1/clockwall
kernighan_and_donovan/ch8/crawl1/findlinks
kernighan_and_donovan/ch8/crawl2/findlinks
kernighan_and_donovan/ch8/crawl3/findlinks
kernighan_and_donovan/ch8/ex8-6/findlinks
kernighan_and_donovan/ch8/ex8-7/findlinks
kernighan_and_donovan/ch8/ex8-9/du
kernighan_and_donovan/ch8/ex8-10/findlinks
kernighan_and_donovan/ch8/du2/du
kernighan_and_donovan/ch10/jpeg/jpeg
kernighan_and_donovan/ch10/ex10-1/jpeg
kernighan_and_donovan/ch10/ex10-2/archiver
kernighan_and_donovan/ch10/jpeg/jpeg
datasets/raw_data/*
datasets/records/*
